<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Inicio Sesión</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="home" text=""></ion-back-button>
  </ion-buttons>
</ion-header>
<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.png"></ion-img>
    <ion-title class="titulo-centrado">Bienvenido</ion-title>
  </ion-card>
  <ion-img class="photo" src="assets/images/user-photo.png" ></ion-img>
  <ion-card>
    <ion-title class="info_usuario">Información Usuario</ion-title>
  </ion-card>
  <div class="info_container">
    <p class="titulo_info">Alumno: {{this.user.name}}</p>
    <p class="titulo_info">Carrera: {{this.user.carrera}}</p>
    <p class="titulo_info">Email: {{this.user.correo}}</p>
    <p class="titulo_info">Telefono: {{this.user.telefono}}</p>
  </div>
  <div class="cerrar-btn-wrap">
    <ion-button class="cerrar-btn" shape="round" fill="solid" [routerLink]="['/ingreso-de-usuario']">Cerrar Sesión</ion-button>
  </div>
</ion-content>
